<!-- include header -->
<%-include('_header') %>
<!--/include header  -->

<body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">All Projects</a></li>
         
        </ul>
      </nav>
    </header>
    <body>
      
    
    <main>
      <h1>All Projects</h1>
      <a href="/createProject"> <button id="create-Project_btn">Create New </button></a>
     
      <ul class="project-list">
      <% for(let i=0; i<Projects.length; i++){%>
       
        <li>
          
            <h3>Title:&nbsp   <%= Projects[i].title %></h3>
            <p>Description:  <%= Projects[i].description %></p>
            <h5>Author: <%= Projects[i].author %></h5>
         
          <div id="open_btn"> <a href="/projectDetails?id=<%=Projects[i]._id%>"> Open</a></div>
         <div id="delete_btn"> <a href="/api/projects/delete/<%=Projects[i]._id%>" > Delete</a></div>
        </li>
        <%}%>
        
      </ul>

    </main>
  </body>
 
<!-- include footer -->
<%-include('_footer') %>
<!--/include footer  -->

