<!-- include header -->
<%-include('_header') %>
<!--/include header  -->

<body">
    
    <header>
        <nav>
          <ul>
           
                <li><a href="/">Home</a></li>
                <li><a href="/allProjects">All Projects</a></li>
          
           
         
            
          </ul>
        </nav>
        <a href="/createIssue/<%=details._id%>"><button class="create-issue-btn">Create Issue</button></a>
        
      </header>
      <form action="/filter/<%=details._id%>" method="POST">
      <div class="filter-section">
        <h2>Filter Issues</h2>
        <div class="filter-group">
           
          <label for="label-filter">Type:</label>
          <select id="label-filter" name="type" aria-placeholder="Type" >
         <option value="All" name="type" >            All     </option>
         <option value="bug" name="type" selected>            Bug     </option>
         <option value="enhancement" name="type">    Enhancement   </option>
         <option value="feature" name="type">        Feature </option>
         <option value="design" name="type">         Design  </option>
         <option value="documentation" name="type">    Documentation</option>
          </select>
        </div>

        <div class="filter-group">
          <label for="search-filter">Author:</label>
          <input type="text" id="search-author" placeholder="Enter Author name" name="author">
       
        </div>
        <div class="filter-group">
          <label for="search-filter">Title:</label>
          <input type="text" id="search-filter" placeholder="Enter Title" name="title">
        </div>
        <button type="submit" id="filter_btn">Filter</button>
      </div>
      
    </form>

    
    <div class="project-header">
       <h2 class="project-name"> Title:  <%=details.title%> </h2> 
         <h2 class="project-author">Author:  <%=details.author%></h2>
        <p class="project-description">Description:  <%=details.description%></p> 
      </div>

      <div class="issue-list">
        <h2>Issues</h2>
        <ul>
      
  <% if(issueData){ %>
    <%-include('_issues') %>
  <% }%>

  </ul>
  </div>

  <% if(issueData.length<1){ %>
    <h2>No results found</h2>
<%}%>

 
   
       
   

 
      


